<div class="portfolio-modal modal fade" id="<%="portfolioModal#{investment.id}"%>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <h2 class="text-uppercase"><%=investment.title%></h2>
              <p class="item-intro text-muted"><%=investment.status%></p>
              <%= render partial: 'carousel', locals: {images: get_carousel_images(investment)} %>
              <p><%=investment.description%></p>
              <ul class="list-inline">
                <li>Asking price: <%=format_price investment.asking_price%></li>
                <li>Agreed price: <%=format_price investment.agreed_price%></li>
                <li>Done up value: <%=format_price investment.done_up_value%></li>
                <li>Refurbishment cost: <%=format_price investment.refurbishment_cost%></li>
                <li>Cash Flow as BTL: <%=format_price investment.cash_flow%></li>
                <li>Flip profit: <%=format_price investment.flip_profit%></li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>